* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 95vh;
  background-color: aliceblue;
}

.main__wrapper {
  display: grid;
  place-items: center;
  place-content: center;
  height: 100%;
}

.carousel__container {
  display: flex;
  width: 80%;
  border: none;
  box-shadow: 1px 2px 18px rgb(118, 120, 236);
  overflow: hidden
  
}
.carousel__container > img {
  border-radius: 3px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
  transition: transform 100ms linear;
}

.btn { 
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  border: none;
  background-color: rgb(226, 172, 151);
  box-shadow: 0px 0px 5px rgb(243, 189, 168);
  font-size: 1.2rem;
  text-align: center;
  position: absolute;
  z-index: 100;
}
.prev {
  bottom: 50%;
  left: 7%;
}
.next {
  bottom: 50%;
  right: 7%;
}
